<!DOCTYPE html>
<html lang="en" >
<!-- begin::Head -->
<head>
    <meta charset="utf-8" />
    <title>
        系统后台| 登陆
    </title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Web font -->

    <!--end::Web font -->
    <!--begin::Base Styles -->
    <link href="../assets/global/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
    <link href="../assets/global/demo/default/base/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Base Styles -->
    <link rel="shortcut icon" href="../assets/global/demo/default/media/img/logo/favicon.ico" />
</head>
<!-- end::Head -->
<!-- end::Body -->
<body  class="m--skin- m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default"  >
<!-- begin:: Page -->
<div class="m-grid m-grid--hor m-grid--root m-page">
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-3" id="m_login" style="background-image: url(../assets/global/app/media/img//bg/bg-2.jpg);">
        <div class="m-grid__item m-grid__item--fluid	m-login__wrapper">
            <div class="m-login__container">
                <div class="m-login__logo">
                    <a href="#">
                        <img src="../assets/global/app/media/img/logos/logo-5.png">
                    </a>
                </div>
                <div class="m-login__signin">
                    <form action="javascript:void(0);" class="m-form m-form--fit m-form--label-align-right bg-white" method="post">
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group ">
                                <div class="m-form__seperator m-form__seperator--dashed m-form__seperator--space"></div>
                            </div>
                            <div class="form-group m-form__group ">
                                <div class="input-group m-input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="la la-user"></i>
                                        </span>
                                    </div>
                                    <input id="username" type="text" class="form-control m-input" placeholder="请输入账号">
                                </div>
                            </div>
                            <div class="form-group m-form__group">
                                <div class="input-group m-input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="la la-lock"></i>
                                        </span>
                                    </div>
                                    <input id="password" type="password" class="form-control m-input" placeholder="请输入密码">
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions">
                                <button type="reset" class="btn m-btn btn-secondary">
                                    取消
                                </button>
                                <button id="btn_login" class="btn m-btn btn-primary pull-right">
                                    登陆
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
<!-- end:: Page -->
<!--begin::Base Scripts -->
<script src="../assets/global/vendors/base/vendors.bundle.js" type="text/javascript"></script>
<script src="../assets/global/demo/default/base/scripts.bundle.js" type="text/javascript"></script>
<!--end::Base Scripts -->
<!--begin::Page Snippets -->
<script src="../assets/core/common/utils.js" type="text/javascript"></script>
<script src="../assets/core/login.js" type="text/javascript"></script>
<!--end::Page Snippets -->
</body>
<!-- end::Body -->
</html>
